.env
dockerComposers/appsmith/stacks
dockerComposers/linguacafe/storage
dockerComposers/linguacafe/database
dockerComposers/linguacafe/cache
dockerComposers/linguacafe/docker
etc-pihole
data
letsencrypt
honcho
dockerComposers/pandoc-service/__pycache__/app.cpython-311.pyc
dockerComposers/pandoc-service/__pycache__/app.cpython-311.pyc
