version: "3"
services:
  postgres:
    image: postgres:15
    container_name: n8n_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8npassword
      POSTGRES_DB: n8n
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - default # Use the default network

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n_backups:/home/node/backups
    environment:
      - N8N_TRUST_PROXY=true
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=n8n_postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8npassword
      - DB_POSTGRESDB_SCHEMA=public
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - GENERIC_TIMEZONE=Australia/Adelaide
      - WEBHOOK_URL=https://automation.ordotech.space
      - N8N_HOST=0.0.0.0
      - N8N_PROTOCOL=https
    networks:
      - default

volumes:
  n8n_data:
    name: n8n_data
  postgres_data:
    name: n8n_postgres_data

networks:
  default:
    name: n8n_default # This will create a network named exactly "n8n_default"
    external: true
